
.bragr_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    background: url(../images/navigation.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    transition: 0.5s all ease;
    transform: translateY(-100%);
}
.bragr_menu_Add {
    transition: 0.5s all ease;
    transform: translateY(0);
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 999;
}


/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}




/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.demo-title {
	color: var(--color-title);
	font-family: var(--font-family-title);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
}

.global-menu {
    width: 100vw;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
	
}

.global-menu-add {
    visibility: visible;
	
}

.demo-5 .global-menu {
	text-align: center;
}

.global-menu__item {
    opacity: 1;
    display: block;
    margin: 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #23527c;
    display: block;
    line-height: 0px;
    font-weight: 500;
    
}
/*
.global-menu__item--demo-2:nth-child(odd) {
	transform: translateY(-100%) rotate(10deg);
}

.global-menu__item--demo-2:nth-child(even) {
	transform: translateY(-100%) rotate(-10deg);
}

.global-menu__item--demo-3 {
	transition: transform 0.1s, opacity 0.1s;
	transform: translateY(100%);
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4,
.global-menu__item--demo-5 {
	transition: transform 0.1s, opacity 0.1s;
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4 {
	transform: translateX(40%);
}

.global-menu__item--demo-5:nth-child(odd) {
	transform: translateX(100%) rotate(10deg) scale(0.5);
}

.global-menu__item--demo-5:nth-child(even) {
	transform: translateX(100%) rotate(-10deg) scale(0.5);
}

.global-menu__item--demo-6 {
	transform: translateY(100%);
}

.global-menu__item:hover {
    color: #bf1e2d;
    text-decoration: none;
}
*/
.global-menu__item.is-opened {
	display: block;
	/*transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;*/
}

/*.global-menu__item--demo-4.is-opened,
.global-menu__item--demo-5.is-opened {
	transform: translateX(0) rotate(0);
}

.global-menu__item--demo-4.is-opened {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.355, 1.400);
}

.global-menu__item:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}*/

/*.global-menu__item:nth-of-type(2) {
	transition-delay: 0.05s;
}*/

/*.global-menu__item.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}*/

/*.global-menu__item:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}*/

/* demo 2 */
/*.global-menu__item--demo-2:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}

.global-menu__item--demo-2:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}

.global-menu__item--demo-2:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item--demo-2:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}*/

/* demo 3 */
/*.global-menu__item--demo-3.is-opened {
	transition-duration: 0.3s;
}

.global-menu__item--demo-3:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
	transition-delay: 0.65s;
}

.global-menu__item--demo-3:nth-of-type(2) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
	transition-delay: 0.7s;
}

.global-menu__item--demo-3:nth-of-type(3) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item--demo-3:nth-of-type(4) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
	transition-delay: 0.8s;
}*/

/* demo 4 */
/*.global-menu__item--demo-4.is-opened {
	transition-duration: 0.6s;
}

.global-menu__item--demo-4:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(1) {
	transition-delay: 0.45s;
}

.global-menu__item--demo-4:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(2) {
	transition-delay: 0.5s;
}

.global-menu__item--demo-4:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(3) {
	transition-delay: 0.55s;
}

.global-menu__item--demo-4:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(4) {
	transition-delay: 0.6s;
}

.global-menu__item--demo-4:nth-of-type(5) {
	transition-delay: 0.30s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(5) {
	transition-delay: 0.7s;
}

.global-menu__item--demo-4:nth-of-type(6) {
	transition-delay: 0.40s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(6) {
	transition-delay: 0.8s;
}*/

/* demo 5 */
/*.global-menu__item--demo-5.is-opened {
	transition-duration: 0.4s;
}

.global-menu__item--demo-5:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(1) {
	transition-delay: 0.55s;
}

.global-menu__item--demo-5:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(2) {
	transition-delay: 0.6s;
}

.global-menu__item--demo-5:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(3) {
	transition-delay: 0.65s;
}

.global-menu__item--demo-5:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}

.global-menu__item--demo-5:nth-of-type(5) {
	transition-delay: 0.30s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(5) {
	transition-delay: 0.8s;
}

.global-menu__item--demo-5:nth-of-type(6) {
	transition-delay: 0.40s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(6) {
	transition-delay: 0.9s;
}*/


/* demo 6 */
/*.global-menu__item--demo-6.is-opened {
	transition-duration: 0.8s;
}

.global-menu__item--demo-6:nth-of-type(1) {
	transition-delay: 0.25s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(1) {
	transition-delay: 1s;
}

.global-menu__item--demo-6:nth-of-type(2) {
	transition-delay: 0.2s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(2) {
	transition-delay: 1.1s;
}

.global-menu__item--demo-6:nth-of-type(3) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(3) {
	transition-delay: 1.2s;
}

.global-menu__item--demo-6:nth-of-type(4) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(4) {
	transition-delay: 1.3s;
}*/

.shape-overlays {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none !important;
}

/*.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	background:url(../images/navigation.jpg) no-repeat center center; background-size:cover;
}

.shape-overlays__path:nth-of-type(2) {
  background:url(../images/navigation.jpg) no-repeat center center; background-size:cover;
}

.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}*/

/*@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}*/

.hamburger {
    width: 50px;
    height: 54px;
    display: block;
    position: relative;
    cursor: pointer;
    position: fixed;
    top: 31px;
    right: 17px;
    z-index: 999999;
    transition: 0.5s all ease;
}
.main--demo-5_Add .hamburger {
    top: 37px;
    transition: 0.5s all ease;
}
.is-opened-navi .menu1 {
    display: none;
}
.menu_icon_CL{display: none;}
.is-opened-navi .menu_icon_CL{display: block;}
.hamburger__line {
    width: 28px;
    height: 3px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.hamburger__line-in {
	width: 84px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
}
/*
.hamburger__line-in::before, 
.hamburger__line-in::after {
    width: 28px;
    height: 3px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #aa8768;
}

.hamburger__line-in::before {
	left: -56px;
}

.hamburger__line-in::after {
	left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	left: 18px;
}

.hamburger__line--01 {
    top: 17px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	top: 27px;
}

.hamburger__line--03 {
	top: 36px;
}

.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.menu_arrow_not .hamburger__line-in--02::before,
.menu_arrow_not .hamburger__line-in--02::after {
    width: 38px;
}
.menu_arrow_not .hamburger__line--01 {
    width: 35px;
    left: 10px;
}
.hamburger__line-in--01::before,
.hamburger__line-in--01::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.menu_arrow_not .hamburger__line-in--01::before,
.menu_arrow_not .hamburger__line-in--01::after {
    width: 38px;
}
.menu_arrow_not .hamburger__line--02 {
    width: 38px;
    left: 8px;
}
.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}*/

/*.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}*/

/*.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}


@media screen and (min-width: 55em) {
	.icon--keyboard {
		position: absolute;
		right: 0.55em;
		bottom: -30%;
		display: block;
		width: 54px;
		height: 46px;
		fill: var(--color-link);
	}
	.demos {
		display: flex;
		padding-right: 80px;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		position: absolute;
		line-height: 1;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}
*/
/*@media screen and (max-width: 55em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
.hamburger {
    width: 50px;
    height: 50px;
    z-index: 99999999;
}
.hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
    left: 12px;
}
.hamburger__line--01 {
    top: 13.6px;
}
.hamburger__line--02, .hamburger__line--cross01, .hamburger__line--cross02 {
    top: 23px;
}
.hamburger__line--03 {
    top: 32.4px;
}
	.content {
		height: auto;
		min-height: 0;
	 
		flex-direction: column;
	}
	.content--fixed {
		position: relative;
		z-index: 0;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: block;
		margin: 1em auto;
	}
	.codrops-links {
		margin: 0;
	}
}
*/
  
/*.hamburger.js-hover.is-opened-navi + div:before{
  content: "";
background:url(../images/navigation.jpg) no-repeat center center; background-size:cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:0.3s ease;
 
 
}*/

/*.hamburger.js-hover.is-opened-navi + div:before {
    -webkit-animation: NAME-YOUR-ANIMATION 2s;
    -moz-animation: NAME-YOUR-ANIMATION 2s;
    -o-animation: NAME-YOUR-ANIMATION 2s;
    animation: NAME-YOUR-ANIMATION 2s;
    opacity: 1;
}*/
/*@keyframes NAME-YOUR-ANIMATION {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    79% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes NAME-YOUR-ANIMATION {
     0% {
        opacity: 0;
    }
    49% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    79% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    79% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes NAME-YOUR-ANIMATION {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    79% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes NAME-YOUR-ANIMATION {
     0% {
        opacity: 0;
    }
    49% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    79% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}*/

.logo.global-menu__item {
    position: absolute;
    top: 15px;
    left: 0;
}
.logo.global-menu__item img {
    width: auto;
}
.mga_menu_in {
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 100px;
    margin: 160px auto 0;
    justify-content: center;
}
.global-menu__wrap {
    width: 100%;
}
.overlay-box-div-left {
    /* position: absolute; */
    /* left: 0; */
    width: 50%;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
   
    padding-right: 20px;
}
.overlay-box-div-right {
    width: 50%;
    border-left: 1px solid #aa8768;
    padding-left: 0px;
}
.mega_right {
    float: left;
    padding-left: 20px;
}
.overlay-box-div-left ul li {
    position: relative;
    padding-left: 0;
    margin: 20px 0;
}
.overlay-box-div-left ul li .menu_border{display: block;}
.overlay-box-div-left ul li .menu_border a:before {
    position: absolute;
    top: 21px;
    right: 101%;
    width: 0;
    height: 2px;
    background: #fff;
    content: "";
    transition: 0.5s all ease;
    opacity: 0;
}
.overlay-box-div-left ul li .menu_border a:hover:before {
    width: 100%;
    transition: 0.5s all ease;
}
.overlay-box-div-left ul li a {
    opacity: 1;
    display: block;
    margin: 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    color: #a18971;
    display: block;
    line-height: 33px;
}
.overlay-box-div-left ul li a:hover {
    color: #fff;
    transition-timing-function: ease-in;
}
.mga_menu_in h3 {
    font-size: 16px;
    line-height: 20px;
    color: #a18971;
    margin-bottom: 8px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'FuturaLT';
}
.mga_menu_in p {
    font-size: 13px;
    color: #fff;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 12px;
}
.overlay-box-div-right a {
    color: #a18971;
    font-size: 16px;
    transition: 0.5s all ease;
}
.overlay-box-div-right a:hover {
    color: #fff !important;
    transition: 0.5s all ease;
}
.mga_email {
    margin-top: 25px;
}
.mga_email ul li {
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
}
.mga_email_a {
    width: 60%;
}
.mga_email ul li a {
    display: inline-block;
    margin-left: 40px;
    font-size: 13px;
}
.mga_email ul li span {
    display: block;
    width: 100px;
    position: relative;
}
.mga_email ul li span:before {
    position: absolute;
    top: 0;
    right: 0;
    content: ":";
}
.mga_menu_in .ftr2_bx2 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
}
.mga_menu_in .ftr2_bx2 ul li a {
    width: 30px;
    height: 30px;
    font-size: 13px;
}
.mga_copy {
    position: absolute;
    bottom: 10px;
    z-index: 9;
}
.mga_copy p {
    margin: 0;
    color: #878787;
}
.mga_menu_in .ftr2_bx2 ul li a:hover{
    color: #aa8768 !important;
}

.overlay-box-div-left ul{
 padding-top: 7px;
}
.rty098765{
	padding-left: 75px;
}


.mga_phone a{
	font-size: 13px;
}
.add_bx a{
	font-size: 13px;
}




